html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
}
.container {
    display: flex;
    align-items: center;
    gap:10px;
}
body {
    background: #e8e7de;
    font-family: 'Montserrat', sans-serif;
}
.board {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 5px solid #000;
    border-radius: 4px;
    background: #e5901051;
    box-shadow:  5px 5px 8px #bebdb6,
    -5px -5px 8px #ffffff;
}
.cell {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #e59110;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    border-radius: 0%;
    border: 0px solid;
}
.input{
    margin: auto;
}