body {
    background: #e8e7de;
    font-family: 'Montserrat', sans-serif;
}
.board {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 10px solid #000;
    border-radius: 4px;
    background: #e59110;
    box-shadow:  5px 5px 8px #bebdb6,
    -5px -5px 8px #ffffff;
}
.cell {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #e59110;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.black {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #e59110;
    font-size:50px;
    text-align:center;
    display: table-cell;
}
.white {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #ffcfb6;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.input{
    margin: auto;
}